* {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto',sans-serif;
    font-weight: 400px;
}

.container {
    display: block;
    width: 1110px; 
    margin-left: auto;
    margin-right: auto;
}

.menu {
    background-color: #E5E5E5;
    padding: 17px 0 16px 0;
    text-align: center;
    
}

.menu-links {
    font-size: 14px;
    line-height: 17px;
    color: #333333;
    margin-right: 30px;
    text-decoration: none;
    display: inline-block;
    vertical-align: top;
}

.logo {
    background-color: #FFFFFF;
    
}

.phone {
    font-size: 16px;
    line-height: 19px;
    color: #000000;
    text-decoration: none;
    display: inline-block;
    vertical-align: top;
    margin: 50px 40px 51px 0;
    
}

.feedback {
    font-size: 14px;
    line-height: 16px;
    color: #000000;
    display: inline-block;
    vertical-align: top;
    background-color: #FFFFFF;
    padding: 12px 26px 13px 27px;
    border: 2px solid #F13C6E;
    border-radius: 40px;
    margin-top: 40px;
}

.logo-photo {
    padding: 20px 20px 20px 0;
    display: inline-block;
    vertical-align: top;
}

.logo-picture {
    padding: 41px 0 40px 0;
    display: inline-block;
    vertical-align: top;
    
}

.clearfix {
    clear: both;
}

.call {
    float: right;
}

.services {
    font-size: 16px;
    line-height: 19px; 
    color: #000000;
    text-decoration: none; 
    margin-right: 40px;
    
}

.second-menu {
    background-color: #E5E5E5;
    padding: 30px 0 30px 400px;
}

.info-product {
    background-image: url(images/Rectangle\ 2.png);
}

.armchair {
    font-size: 48px;
    line-height: 56px;
    color: #FFFFFF;
    margin-top: 180px;
    display: inline-block;
    vertical-align: top;
    font-family: 'Roboto',sans-serif;
    font-size: normal;
    margin-right: 500px;
}

.about-armchair {
    font-size: 14px;
    line-height: 20px;
    color: #FFFFFF;
    width: 308px;
    margin-top: 45px;
    
}

.more {
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.05em;
    color: #FFFFFF;
    display: inline-block;
    vertical-align: top;
    background-color: #F13C6E;;
    padding: 12px 43px 13px 44px;
    border: 2px solid #FFFFFF;
    border-radius: 40px;
    margin: 45px 800px 193px 0;
    text-decoration: none;   
}

.offer {
    font-size: 24px;
    line-height: 28px;  
    color: #000000;
    padding-top: 80px;
}

.about-chair {
    font-size: 14px;
    line-height: 20px;
    color: #333333;
    width: 195px;
    margin: 20px 30px 0 30px;
}

.price {
    font-size: 21px;
    line-height: 25px;
    letter-spacing: 0.05em;
    color: #000000;
    margin: 20px 87px 0 88px;
}

.buy {
    background: #F13C6E;
    border-radius: 30px;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.05em;
    color: #FFFFFF;
    padding: 9px 39px 9px 40px;
    display: inline-block;
    vertical-align: top;
    margin: 20px 62px 25px 63px;
    text-decoration: none;
}

.cards {
    background: #FFFFFF;
}


.catalog {
    margin: 25px 65px 0 65px;
}

.cards {
    margin-right: 30px;
    display: inline-block;
    margin-top: 67px;
}

.cards:last-child {
    margin-right: 0;
}

.bcg {
    background: #EFEFEF;
}


